body {
    padding: 10% 0;
}

.logo {
    font-size: 9em;
    margin: 0;
}

.logo span {
    font-size: 35%;
    top: -35px;
    position: relative;
}

.detail-view{
    font-size:16px;

}

.card .card-title h4{
    color:#333;
    font-size:150%;
}

.card i{
    font-size:30px;
    position: relative;
    top:2px;
}
