<!DOCTYPE html>
<html>

<head>
    <link href="bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <header>
            <h1 class="logo"><i class="mdi-social-whatshot"></i><span class="hide-on-small-only">Simple Contact</span></h1>
        </header>

        <div class="content">
            <div class="sub-nav">
                <a href="/"><i class="mdi-navigation-arrow-back"></i>Back To List</a>
            </div>
            <div class="row detail-view">
                <div class="col s12 m12">
                    <div class="card blue-grey lighten-5">
                        <div class="card-content">
                            <span class="card-title"><h4>John Doe</h4></span>
                            <div class="section">
                                <h5><i class="mdi-hardware-phone-iphone"></i>Phone Number</h5>
                                1-917-335-6612
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <h5><i class="mdi-communication-email"></i>Email</h5>
                                JonDoe@mydonuts.com
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <h5><i class="mdi-communication-business"></i>Address</h5>
                                1600 Pennsylvania Avenue Northwest, Washington, DC 20500
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
</body>

</html>
