doctype html
html
    head
        title= title
        link(href="bower_components/materialize/dist/css/materialize.min.css", rel="stylesheet")
        link(href="css/main.css", rel="stylesheet")
    body
        .container
            header
                h1.logo
                    i.mdi-social-whatshot
                        span.hide-on-small-only Simple Contact

            .content
                .sub-nav
                    a(href="/")
                        i.mdi-navigation-arrow-back Back To List

                .row.detail-view
                    .col.s12.m12
                        .card.blue-grey.lighten-5
                            .card-content
                                span.card-title
                                    h4 John Doe
                                .section
                                    | <h5><i class="mdi-hardware-phone-iphone"></i>Phone Number</h5>
                                    | 1-917-335-6612
                                .divider
                                .section
                                    | <h5><i class="mdi-communication-email"></i>Email</h5>
                                    | JonDoe@mydonuts.com
                                .divider
                                .section
                                    | <h5><i class="mdi-communication-business"></i>Address</h5>
                                    | 1600 Pennsylvania Avenue Northwest, Washington, DC 20500


        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/materialize/dist/js/materialize.min.js")

