extends ./layout.jade

block content
    .content
        .sub-nav
            a(href="/")
                i.mdi-navigation-arrow-back Back To List

        .row.detail-view
            .col.s12.m12
                .card.blue-grey.lighten-5
                    .card-content
                        .clearfix
                            span.card-title
                                h4=contact.last_name + ' ' + contact.first_name

                            a.btn-floating.waves-effect.waves-light.edit-btn(href="/edit/"+contact._id)
                                i.mdi-editor-mode-edit

                        .section
                            | <h5><i class="mdi-hardware-phone-iphone"></i>Phone Number</h5>
                            =contact.phone
                        .divider
                        .section
                            | <h5><i class="mdi-communication-email"></i>Email</h5>
                            =contact.email
                        .divider
                        .section
                            | <h5><i class="mdi-communication-business"></i>Address</h5>
                            =contact.address

